<mat-card>
    <mat-card-title>Deletar estado</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput disabled placeholder="Nome" [(ngModel)]="state.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput disabled placeholder="Abreviação" [(ngModel)]="state.abbreviation" name="abbreviation">
        </mat-form-field>
    </form>    
    <button mat-raised-button (click)="deleteState()" color="warn">Deletar</button>
    <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>

